<ion-view view-title="Maryhill Activity Directory">
 	<ion-header-bar align-title="left" class='has-header'>
		<h2 class="title">Contact</h2>
	</ion-header-bar>

	<ion-content class="has-subheader">
		<div class = "padding">
			<div class="list card supportCard">
				<div class="item item-avatar">
					<img src="./img/jim.jpg">
					<h2>Mr. Jim Hamilton</h2>
					<p>Parish Deacon</p>
					<p>jham@maryhillparishchurch.org.uk</p>
				</div>
			</div>
			<div class="list card">
				<div class="item item-avatar">
					<img src="./img/stuart.jpg">
					<h2>Rev Stuart Matthews</h2>
					<p>Minister</p>
					<p>stumatt@maryhillparishchurch.org.uk</p>
				</div>
			</div>
			<div class="list card">
				<div class="item item-avatar">
					<img src="./img/matthew.png">
					<h2>Mr. Matthew McKenzie</h2>
					<p>Treasurer</p>
					<p></p>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>