<ion-modal-view class="modal transparent" id="dayModal" >
	<ion-header-bar>
		<div class="buttons">
			<h1 class="title">Days</h1>
			<button class="button button-icon ion-ios-close-empty" ng-click="closeModal(2)"></button>
		</div>
	</ion-header-bar>

	<ion-content id="modalHeaderD">

		<ion-list>
			<ion-checkbox>Monday</ion-checkbox>
			<ion-checkbox>Tuesday</ion-checkbox>
			<ion-checkbox>Wednesday</ion-checkbox>
			<ion-checkbox>Thursday</ion-checkbox>
			<ion-checkbox>Friday</ion-checkbox>
			<ion-checkbox>Saturday</ion-checkbox>
			<ion-checkbox>Sunday</ion-checkbox>
		</ion-list>

	</ion-content>
</ion-modal-view>