<ion-side-menus>
	<!-- Main Content -->
	<ion-side-menu-content>
		<ion-nav-bar class="bar-positive myNav">

				<ion-nav-back-button>
				</ion-nav-back-button>

				<ion-nav-buttons side="left">
					<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
				</ion-nav-buttons>

		</ion-nav-bar>

		<!-- MOST OF THE TEMPLATES ARE INJECTED IN HERE NOTE THE USE OF "menuContent" in the app.js states -->
		<ion-nav-view name="menuContent">

		</ion-nav-view>

	</ion-side-menu-content>

	<!-- Left Side Menu -->
	<ion-side-menu side="left" width="200">
		<ion-header-bar class="bar-positive sideNav">
				<h1 class="title">M.A.D.</h1>
		</ion-header-bar>

		<ion-content>
				<ion-list>
					<ion-item menu-close href="#/app/activities">
  						Activities
					</ion-item>
					<ion-item ng-if="state=='out'" menu-close href="#/app/login">
  						Log In
					</ion-item>
                    <ion-item ng-if="state=='super'" menu-close href="#/app/super/modify">
                         Super Admin
                    </ion-item>
                     <ion-item ng-if="state=='admin'" menu-close href="#/app/admin">
                         Regular Admin
                    </ion-item>  					
					<ion-item menu-close href="#/app/support">
  						Support
					</ion-item>                 
					<ion-item menu-close href="#/app/contact">
  						Contact
					</ion-item>
					<ion-item menu-close href="#/app/settings">
  						Settings
					</ion-item>                     
				</ion-list>
		</ion-content>
	</ion-side-menu>

</ion-side-menus>