<ion-view view-title="Welcome">

  <ion-nav-buttons side="left">
    <button class="button button-light button-clear no-animation" ng-click="startApp()" ng-show="!slideIndex">
      Skip Intro
    </button>
    <button class="button button-light button-clear no-animation" ng-click="previous()" ng-show="slideIndex > 0">
      <i class="ion-chevron-left custom-icon"></i>
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right"> 
    <button class="button button-light button-clear no-animation" ng-click="next()" ng-show="slideIndex != 4">
      <i class="ion-chevron-right custom-icon"></i>
    </button>
    <button class="button button-light button-clear no-animation" ng-click="startApp()" ng-show="slideIndex == 4">
      Lets Go!
    </button>
  </ion-nav-buttons>


  <!--ng-Style= "{'font-size': size + 'px'}"-->
  <ion-slide-box class="" on-slide-changed="slideChanged(index)" >
    <ion-slide>
      <h3>Welcome to the Maryhill Activity Directory App!</h3>
      <div id="logo">
        <img class="iconImg" src="./img/icon.png">
      </div>
      <p>
        Swipe to the left to take the tutorial!
      </p>
      <p>
        Or if you prefer you can skip and go straight to the app.
      </p>
    </ion-slide>

    <ion-slide>
      <h3>Activity List</h3>
      <div class="row">
        <div class="col col-100 infoText">
          The first thing you'll see is the activities list. It shows all the activites going on right now in Maryhill!
        </div>
      </div>

      <div class="row">
        <div class="col col-100">
          <img class="actImg" src="./img/activities.png">
        </div>
      </div>

      <div class="row">
        <div class="col col-100 infoText">
         The main page only shows the key information. If you want to find out more, just tap on any activity in the list to get more details.
        </div>
      </div>

    </ion-slide>    

    <ion-slide>
      <h3>Finding Activities</h3>
      <div class="row">
        <div class="col col-100 infoText">
          Find activities easily. Tap the search bar to bring up the keyboard and search for an activity by name.
        </div>
      </div>

      <div class="row">
        <div class="col col-100">
          <img class="tutImg" src="./img/activityTut.png">
        </div>
      </div>

      <div class="row">
        <div class="col col-100 infoText">
         Not sure what you're looking for yet? No problem, tap the filter button next to the search bar to bring up a list of filter options.
        </div>
      </div>

    </ion-slide>

    <ion-slide>
    <ion-content class="tutorialContent">
      <h3>Filters</h3>
      <div class="row">
        <div class="col col-10"></div>
        <div class="col col-80">
          <img class="tutImg " src="./img/filtersTut.png">
        </div>
        <div class="col col-10"></div>
      </div>

      <div class="row">
        <div class="col col-100 infoText">
          You can filter activities using any cobination of days, catergory, times and ages. Select all your choices and press OK to see all activities that match your search, easy!
        </div>
      </div>
      </ion-content>
    </ion-slide>

    <ion-slide>
    <ion-content class="tutorialContent">
      <h3>Detailed Info</h3>
      <div class="row">
        <div class="col col-100 infoText">
          Once you find the activity you're looking for just tap it to get more information. The symbols are explained below.
        </div>
      </div>
      <div class="row">
        <div class="col col-10 tutIcon">
            <i class="icon ion-ios-location iconI"></i>
        </div>
        <div class="col col-90 tutDetails">
          The venue of the current activity. Tap the address to open in Google maps.
        </div>
      </div>
      <div class="row">
        <div class="col col-10 tutIcon">
          <i class="icon ion-android-person iconI"></i>
        </div>
        <div class="col col-90 tutDetails">
          Contact name of the activity organiser.
        </div>
      </div>
      <div class="row">
        <div class="col col-10 tutIcon">
            <i class="icon ion-ios-telephone iconI"></i>
        </div>
        <div class="col col-90 tutDetails">
          Contact phone number of the activity organiser.
        </div>
      </div>
      <div class="row">
        <div class="col col-10 tutIcon">
            <i class="icon ion-at iconI"></i>
        </div>
        <div class="col col-90 tutDetails">
          Contact email address of the activity organiser.
        </div>
      </div>
      <div class="row">
        <div class="col col-10 tutIcon">
            <i class="icon ion-clipboard iconI"></i>
        </div>
        <div class="col col-90 tutDetails">
          Any special futher information about the activity, such as if it's only on fortnightly or if its a ladies only event etc.
        </div>
      </div>
      <div class="row">
        <div class="col col-10 tutIcon">
            <i class="icon ion-android-time iconI"></i>
        </div>
        <div class="col col-90 tutDetails">
          A list of the days and times the activity is running. 
        </div>
      </div>
      <div class="row">
        <div class="col col-10 tutIcon">
            <i class="icon ion-ios-people iconI"></i>
        </div>
        <div class="col col-90 tutDetails">
          The age ranges that the activity is suitable for.
        </div>
      </div>
      </ion-content>
    </ion-slide>

  </ion-slide-box>
</ion-view>