<ion-view view-title="Maryhill Activity Directory">
 	<ion-header-bar align-title="left" class='has-header'>
		<h2 class="title">Settings</h2>
	</ion-header-bar>

	<ion-content class="has-subheader">



	  <li class="item item-toggle">
	     Show tutorial on start up
	     <label class="toggle toggle-assertive">
	       <input type="checkbox">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </li>
	
		<div class="item range range-energized">
			<span class="smallA">A</span>
			<input id="range" type="range" min="12" max="24" ng-model="fontSize" ng-change="changeFontSize(fontSize)">
			<span class="bigA">A</span>
		</div>

		Current font size is: {{fontSize}}
	</ion-content>
</ion-view>


