<ion-view view-title="Maryhill Activity Directory">
 	<ion-header-bar align-title="left" class='has-header'>
		<h2 class="title">Settings</h2>
	</ion-header-bar>

	<ion-content class="has-subheader">

	  <li class="item item-toggle">
	     Show tutorial on start up
	     <label class="toggle toggle-light">
	       <input type="checkbox" ng-model="tutorialToggle" ng-click="changeTutorial()">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </li>
	
	</ion-content>
</ion-view>


