<ion-view view-title="Maryhill Activity Directory">
 	<ion-header-bar align-title="left" class='has-header'>
		<h2 class="title">Suport</h2>
	</ion-header-bar>

	<ion-content class="has-subheader">
		<div class = "padding">
			<div class="list card supportCard">
				<div class="item">
					<h2>West of Scotland Regional Equality Council</h2>
					<p>39 Napiershall Street, 0141 337 6626</p>
				</div>
				<div class="item item-body">
					<p>			
					WSREC is the largest of Scotland’s four Regional Equality Councils. We work with established minority ethnic communities, new migrants, refugees and asylumseekers across all protected characteristics, and champion diversity by working across communities, challenging issues like sectarianism and hate crime.
					</p>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>