<ion-view view-title="Maryhill Activity Directory">
 	<ion-header-bar align-title="left" class='has-header'>
		<h2 class="title">Suport</h2>
	</ion-header-bar>

	<ion-content class="has-subheader">
		<div class = "padding">
			<div class="list card supportCard">
				<div class="item">
					<h2>West of Scotland Regional Equality Council</h2>
					<p>39 Napiershall Street, 0141 337 6626</p>
				</div>
				<div class="item item-body">
					<p>			
					WSREC is the largest of Scotland’s four Regional Equality Councils. We work with established minority ethnic communities, new migrants, refugees and asylumseekers across all protected characteristics, and champion diversity by working across communities, challenging issues like sectarianism and hate crime.
					</p>
				</div>
			</div>

			<div class="list card supportCard">
				<div class="item">
					<h2>Good Morning Service</h2>
					<p>www.goodmorningservice.co.uk, 0141 336 7766</p>
				</div>
				<div class="item item-body">
					<p>			
						Connected – Safer – Valued – 365 Days. Free telephone befriending calls to check all is well and for a blether. When a call remains unanswered the charity will try to locate you and will then alert next of kin or the emergency services to a potential problem. For people 60+ years across Glasgow City Council area.
					</p>
				</div>
			</div>

			<div class="list card supportCard">
				<div class="item">
					<h2>Cook ‘n’ Care</h2>
					<p>0141 336 6991</p>
				</div>
				<div class="item item-body">
					<p>			
					As part of Possobilities, Cook ‘n’ Care provides a hot home-made meal delivery service for vulnerable, elderly & disabled people in their homes throughout the north of Glasgow. Feel free to give us a call on 0141 336 6991 or drop in to see us at 74 Closeburn Street, Mon-Fri 09:00-15:00.
					</p>
				</div>
			</div>

			<div class="list card supportCard">
				<div class="item">
					<h2>The North Glasgow Steamie</h2>
					<p>0141 336 6991</p>
				</div>
				<div class="item item-body">
					<p>			
					This established community laundry service has been especially designed for individuals looking for some extra help – perhaps due to illness, disability or other circumstances. Take a load off your mind and give us a call on 0141 336 6991 or drop in to see us at 74 Closeburn Street,Mon-Fri 08:00-16:00.
					</p>
				</div>
			</div>

			<div class="list card supportCard">
				<div class="item">
					<h2>Macmillan Information & Support Service</h2>
					<p>0141 287 2999</p>
				</div>
				<div class="item item-body">
					<p>			
					If you’re affected by cancer, you can now pop in to your local library for information and support. At Glasgow Libraries we offer anyone affected by cancer  including patients, carers and friends a free, confidential service with access to high quality information and support in a relaxed, comfortable environment in their local community. This support includes access to benefits advice, complementary therapies and physical activity classes.
					</p>
				</div>
			</div>

			<div class="list card supportCard">
				<div class="item">
					<h2>Revive MS Support</h2>
					<p>0141 946 3344</p>
				</div>
				<div class="item item-body">
					<p>			
					We are an independent charitable organisation which provides care, support and practical assistance for people with Multiple Scleroses, their families, carers, and friends. Our centre in Maryhill offers treatment and advice from a multi-disciplinary team of professional staff who have many years of experience working with this client group.
					</p>
				</div>
			</div>

			<div class="list card supportCard">
				<div class="item">
					<h2>Ruchill Furniture</h2>
					<p>89 Chapel Street, Glasgow, G20 9BD, 0141 945 2746</p>
				</div>
				<div class="item item-body">
					<p>			
					Ruchill Furniture is a community managed enterprise, open to the public. It collects unwanted, yet reusable household furniture and redistributes them (at low cost) to disadvantaged families within Glasgow.
					</p>
				</div>
			</div>

			<div class="list card supportCard">
				<div class="item">
					<h2>Police Scotland – Keeping People Safe</h2>
					<p>1380 Maryhill Road, G20 9TX</p>
					<p>Non-Emergency: 101 or Emergency: 999</p>
				</div>
				<div class="item item-body">
					<p>			
					www.Scotland.Police.uk , Facebook: www.facebook.com/policescotland , Twitter: www.twitter.com/maryhillpolice PC Peter Glancey, Performance Support,Maryhill Police Office, 1380 Maryhill Road, G20 9TX. Tel No: 0141 532 3898 Email: peter.glancey@scotland.pnn.police.uk
					</p>
				</div>
			</div>

			<div class="list card supportCard">
				<div class="item">
					<h2>Scottish Fire and Rescue Service</h2>
				</div>
				<div class="item item-body">
					<p>			
					To arrange a FREE Home Fire Safety Visit and FREE smoke alarm for you, or someone you know who may be at risk from fire, call 0800 0731 999, text FIRE to 80800 or visit http://www.firescotland.gov.uk/. You can also contact Maryhill Community Fire Station on 0141 946 2223.
					</p>
				</div>
			</div>

			<div class="list card supportCard">
				<div class="item">
					<h2>Maryhill & Possilpark Citizens Advice Bureau</h2>
					<p>25 Avenuepark Street, G20 8TS, 0141 948 0204</p>
				</div>
				<div class="item item-body">
					<p>			
					The Citizens Advice service provides free, independent, confidential and impartial advice to everyone on the rights & responsibilities. The Bureau is open from 9am-5pm, Monday-Friday and provides a generalist advice and information service. For more specific advice call 0141 948 0204.
					</p>
				</div>
			</div>

			<div class="list card supportCard">
				<div class="item">
					<h2>Maryhill Integration Network</h2>
					<p>Maryhill Community Centre, 35 Avenuepark Street, G20 8TS</p>
					<p>0141 946 9106, admin@maryhillintegration.co.uk</p>
				</div>
				<div class="item item-body">
					<p>			
					Bringing communities together serving and integrating asylum seekers, refugees and the local community.Provided are ESOL classes, advice and support, signposting and referrals. Office Open Mon-Fri 10:30-16:30.
					</p>
				</div>
			</div>

			<div class="list card supportCard">
				<div class="item">
					<h2>Quarriers North West Carers’ Centre</h2>
					<p>308-310 Maryhill Road, G20 7YE, 0141 331 9420</p>
				</div>
				<div class="item item-body">
					<p>			
					The support is for carers who are, without payment, looking after a partner, child, relative, friend or neighbour who could not manage without help, because of an illness (including mental illness), addiction, frailty or disability (both physical and learning disabilities). We cover postcodes: G1, G2, G3, G4, G11, G12,G20, G21, G22 and G23.
					</p>
				</div>
			</div>

			<div class="list card supportCard">
				<div class="item">
					<h2>Common Wheel</h2>
					<p>77 Chapel Street, G20 9BD, 0141 946 0777</p>
				</div>
				<div class="item item-body">
					<p>			
					Meaningful activity for people with mental health problems through bicycle mechanics. Also sales and repairs for the public.We do music too. www.commonwheel.org.uk
					</p>
				</div>
			</div>

			<div class="list card supportCard">
				<div class="item">
					<h2>The Place (Faith in Throughcare)</h2>
					<p>St Matthews Centre, 200 Balmore Road,G22 6LJ</p>
					<p>Mon, Thurs & fri 12:00-15:30</p>
					<p>07495 942 373 OR 07470 617 395</p>
				</div>
				<div class="item item-body">
					<p>			
					The Place, as part of Faith in Throughcare, recruits and trains volunteers to deliver support and mentorship for people returning to their communities throughout North Glasgow after a short term prison sentence.
					</p>
				</div>
			</div>

		</div>
	</ion-content>
</ion-view>