<ion-view view-title="Modify Event">
    <ion-nav-buttons side="right">
      <button class="button logoutButton" ng-click="logout()">
        Logout
      </button>
    </ion-nav-buttons>
	<div class="bar infoHeader">
		<div class="row">
			<div class="col col-100 text-left">Tap on an activity to modify it.</div>

		</div>
	</div>

	<div class="bar searchHeader">
		<div class="row">
			<div class="col col-100">		
				<label class="item item-input">
					<i class="icon ion-search placeholder-icon"></i>
					<input type="text" data-ng-model="searchText.name" placeholder="Search Activities">
				</label>
			</div>
		</div>
	</div>



	<ion-content class="modifyContent">
Hello
	</ion-content>
</ion-view>