<ion-view view-title="Edit Event Information">

	<ion-content>
		<div class="padding">
		Tap on the fields to edit any information and confirm the changes at the bottom.
		</div>
		<div class="row">
			<div class="col col-100">
				<label class="item item-input item-stacked-label">
					<span class="input-label">Activity</span>
					<input type="text" ng-model="jsonInfo.name">
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col col-100">
				<label class="item item-input item-stacked-label">
					<span class="input-label">Address</span>
					<input type="text" ng-model="jsonInfo.venue">
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col col-100">
				<label class="item item-input item-stacked-label">
					<span class="input-label">Postcode</span>
					<input type="text" ng-model="jsonInfo.postcode">
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col col-100">
				<label class="item item-input item-stacked-label">
					<span class="input-label">Contact Name</span>
					<input type="text" ng-model="jsonInfo.contactName">
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col col-100">
				<label class="item item-input item-stacked-label">
					<span class="input-label">Contact Number</span>
					<input type="tel" ng-model="jsonInfo.number">
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col col-100">
				<label class="item item-input item-stacked-label">
					<span class="input-label">Contact Email</span>
					<input type="text" ng-model="jsonInfo.contactEmail">
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col col-100">
				<label class="item item-input item-stacked-label">
					<span class="input-label">Special Further Info</span>
					<input type="text" ng-model="jsonInfo.special">
				</label>
			</div>
		</div>
		<div class="row" ng-if="role=='super_role'">
			<div class="col col-100">
				<label class="item item-input newEventLabel">
					<input type="text" name="special" placeholder="Activity Admin (enter their username)" ng-model="owner.username">
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col col-100 agesEditRow">
				<div class="row agesEditTitle">
					Ages From / Ages To
				</div>
				<div class="row">
					<div class="col col-50">
						<input type="tel" class="agesEdit" ng-model="jsonInfo.agesLower">
					</div>
					<div class="col col-50">
						<input type="tel" class="agesEdit" ng-model="jsonInfo.agesUpper">
					</div>
				</div>
				
			</div>

		</div>

		<div class="row">
			<div class="col col-100">
				<label class="item item-input item-select">
					<div class="input-label catOptions">
						Category 1
					</div>
						<select ng-model="select.option[0]">
							<option value="{{select.option[0]}}">{{select.option[0]}}</option>
							<option value="{{cat.name}}" ng-repeat="cat in cats">{{cat.name}}</option>
						</select>
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col col-100">
				<label class="item item-input item-select">
					<div class="input-label catOptions">
						Category 2
					</div>
						<select ng-model="select.option[1]">
							<option value="{{select.option[1]}}">{{select.option[1]}}</option>
							<option value="{{cat.name}}" ng-repeat="cat in cats">{{cat.name}}</option>

						</select>
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col col-100">
				<label class="item item-input item-select">
					<div class="input-label catOptions">
						Category 3
					</div>
						<select ng-model="select.option[2]">
							<option value="{{cat.name}}" ng-repeat="cat in cats">{{cat.name}}</option>
						</select>
				</label>
			</div>
		</div>


		<div class="row newEventDayRow" ng-repeat="item in jsonInfo.days" ng-class="{firstDay:$first}">
			<div class="col col-30 newEventCol">
				<ion-checkbox class="newCheckbox" ng-click="nullTime({data: item})" ng-model="item.checked">{{item.day | limitTo:3:0}}</ion-checkbox>
			</div>
			<div class="col col-35 newEventCol">
				<div class="row innerRow">
					<div class="col col-20 newTimeWrapArrow">
						<button type="button" class="button button-clear button-small button-dark time_picker_arrows" ng-click="decreaseStartTime({data: item})" ng-disabled="item.checked==false">
							<i class="icon ion-chevron-left"></i>
							</button>
					</div>
					<div class="col col-60 newTimeWrap">
						<div class="newTimePicker text-center" ng-if="item.startMin==0">{{(item.startHour)}}:{{item.startMin}}0</div>
						<div class="newTimePicker text-center" ng-if="item.startMin!=0">{{(item.startHour)}}:{{item.startMin}}</div>
					</div>
					<div class="col col-20 newTimeWrapArrow">
						<button type="button" class="button button-clear button-small button-dark time_picker_arrows" ng-click="increaseStartTime({data: item})" ng-disabled="item.checked==false">
							<i class="icon ion-chevron-right"></i>
							</button>
					</div>
				</div>
			</div>
			<div class="col col-35 newEventCol">
				<div class="row innerRow">
					<div class="col col-20 newTimeWrapArrow">
						<button type="button" class="button button-clear button-small button-dark time_picker_arrows" ng-click="decreaseEndTime({data: item})" ng-disabled="item.checked==false">
							<i class="icon ion-chevron-left"></i>
							</button>
					</div>
					<div class="col col-60 newTimeWrap">
						<div class="newTimePicker text-center" ng-if="item.endMin==0">{{(item.endHour)}}:{{item.endMin}}0</div>
						<div class="newTimePicker text-center" ng-if="item.endMin!=0">{{(item.endHour)}}:{{item.endMin}}</div>
					</div>
					<div class="col col-20 newTimeWrapArrow">
						<button type="button" class="button button-clear button-small button-dark time_picker_arrows" ng-click="increaseEndTime({data: item})" ng-disabled="item.checked==false">
							<i class="icon ion-chevron-right"></i>
							</button>
					</div>
				</div>
			</div>
		</div>

		<div class="padding confirmNewButton">
			<button class="button button-block button-positive" ng-click="update()">Update Activity</button>
			<button class="button button-block button-assertive" ng-click="delete()">Delete Activity</button>
		</div>	

	</ion-content>


</ion-view>