<ion-view view-title="Modify Event">
    <ion-nav-buttons side="right">
      <button class="button logoutButton" ng-click="logout()">
        Logout
      </button>
    </ion-nav-buttons>
	<div class="bar infoHeader">
		<div class="row">
			<div class="col col-100 text-left">Tap on an activity to modify it.</div>

		</div>
	</div>

	<div class="bar searchHeader">
		<div class="row">
			<div class="col col-100">		
				<label class="item item-input">
					<i class="icon ion-search placeholder-icon"></i>
					<input type="text" data-ng-model="searchText.name" placeholder="Search Activities" ng-model-options="{ debounce: 700 }">
				</label>
			</div>
		</div>
	</div>



	<ion-content class="modifyContent">
		<ion-item class="rowItem" ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="item in activities | filter: searchText | limitTo : 50 track by item.id" ng-click="editPage({data: item})">
			<a class="row" id="actLink">
				<div class="col col-100">{{item.name}}</div>
			</a>
		</ion-item>
	</ion-content>
</ion-view>