<ion-view view-title="Edit Event Information">
	<ion-content class="has-sub">
		<div class="row">
			<div class="col col-100 newEventTitle">Create New Activity Admin</div>
		</div>

		<br>
		<div class="row">
			<div class="col col-100">
				<label class="item item-input newEventLabel">
					<input type="text" name="special" placeholder="Activity Admin (enter their username)">
				</label>
			</div>
		</div>

		<div class="row">
			<div class="col col-100">
				<label class="item item-input newEventLabel">
					<input type="text" name="password" placeholder="password">
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col col-100">
				<button class="button button-block button-positive">Create Admin</button>
			</div>
		</div>
		
	</ion-content>
</ion-view>