<ion-view view-title="Edit Event Information">
	<ion-content class="has-sub">
		<div class="row">
			<div class="col col-100 newEventTitle">Create New Activity Admin</div>
		</div>

		<br>
		<div class="row">
			<div class="col col-100">
				<label class="item item-input newEventLabel">
					<input type="text" name="username" placeholder="Username" ng-model="user.username">
				</label>
			</div>
		</div>

		<div class="row">
			<div class="col col-100">
				<label class="item item-input newEventLabel">
					<input type="text" name="password" placeholder="password" ng-model="user.password">
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col col-100">
				<button class="button button-block button-positive" ng-click="newAdmin()">Create Admin</button>
			</div>
		</div>
		
	</ion-content>
</ion-view>