<ion-view view-title="Maryhill Activity Directory">
	<ion-content class="padding">
		<div class="list card">
			<div class="item">
				<h2>{{sharedInfo.name}}</h2>
			</div>
			
			<div class="item item-body">
				<div class="item infoItem" ng-click="openMaps()">
					<div class="item-icon-left iconWriting">
						<i class="icon ion-ios-location iconI"></i>
							{{sharedInfo.venue}}
					</div>
				</div>
				<div class="item infoItem">
					<div class="item-icon-left iconWriting">
						<i class="icon ion-android-person iconI"></i>
							{{sharedInfo.contactName}}
					</div>
				</div>
				<div class="item infoItem" ng-click="makeCall()">
					<div class="item-icon-left iconWriting">
						<i class="icon ion-ios-telephone iconI"></i>
							{{sharedInfo.number}}
					</div>
				</div>
				<div class="item infoItem">
					<div class="item-icon-left iconWriting">
						<i class="icon ion-at iconI"></i>
							{{sharedInfo.contactEmail}}
					</div>
				</div>
				<div class="item infoItem">
					<div class="item-icon-left iconWriting">
						<i class="icon ion-clipboard iconI"></i>
							<div class="special">{{sharedInfo.special}}</div>
					</div>
				</div>
				<div class="item infoItem">
					<div class="item-icon-left iconWriting">
						<i class="icon ion-android-time iconI"></i>
						<div class="row">
						<div class="col col-40 dayList">
							<p ng-repeat="d in sharedInfo.days">{{d.day }}</p>
						</div>
						<div class="col col-40">
							<p ng-repeat="d in sharedInfo.days">{{d.startTime | limitTo:5:0}} - {{d.endTime | limitTo:5:0}} </p>
						</div>
						</div>
					</div>
	
				</div>
				<div class="item infoItem">
					<div class="item-icon-left iconWriting">
						<i class="icon ion-ios-people iconI"></i>
							{{sharedInfo.agesLower}} - {{sharedInfo.agesUpper}}
					</div>
				</div>

		
	</ion-content>
</ion-view>