<ion-view view-title="Maryhill Activity Directory">
	<div class="bar bar-positive" id="filterHeader">
		<div class="row filterRow">
			<div class="col col-80 text-left">
				<div class="list list-inset" id="filterBar">
					<label class="item item-input">
						<i class="icon ion-ios-people-outline placeholder-icon"></i>
						<input type="text" data-ng-model="searchText.name" placeholder="All Activities" ng-model-options="{ debounce: 700 }">
					</label>
				</div>
			</div>

			<div class="col col-20 text-center">
				<button class="button button-icon" id="filterButton" ng-click="openModal(1)">
					<i class="ion-android-options custom-icon"></i>
				</button>
			</div>
		</div>
	</div>
	
	<div class="bar" id="filterSubheader">
		<div class="row rowHead">
			<div class="col col-25 text-left" ng-click="loading=true">Activity</div>
			<div class="col col-25 text-left">Day(s)</div>
			<div class="col col-30 text-left">Time(s)</div>
			<div class="col col-20 text-left">Ages</div>
		</div>
	</div>


	<ion-content class="activityBody">
		<ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()"></ion-refresher>
		<ion-list>
		
			<ion-item class="rowItem" ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="item in myData | filter: searchText track by $index" ng-click="movePage({data: item})">
				<a class="row" id="actLink">
					<div class="col col-25">{{item.name}}</div>
					<div class="col col-25"><p ng-repeat="d in item.days">{{d.day}}</p></div>
					<div class="col col-30"><p ng-repeat="t in item.days">
					{{t.startTime | limitTo:5:0}}-{{t.endTime | limitTo:5:0}}</p></div>
					<div class="col col-20" ng-if="item.agesUpper==99">{{item.agesLower}} +</div>
					<div class="col col-20" ng-if="item.agesUpper!=99">{{item.agesLower}}-{{item.agesUpper}}</div>
				</a>

			</ion-item>

		</ion-list>
	</ion-content>
</ion-view>