<ion-modal-view class="modal transparent" id="dayModal" >
	<ion-header-bar>
		<div class="buttons">
			<h1 class="title">Days</h1>
			<button class="button button-icon ion-ios-close-empty" ng-click="closeModal(2)"></button>
		</div>
	</ion-header-bar>

	<ion-content id="modalHeaderD">

		<ion-list>
			<ion-checkbox ng-model="modalDays[0].checked" ng-click="daysChanged(0)">Monday</ion-checkbox>
			<ion-checkbox ng-model="modalDays[1].checked" ng-click="daysChanged(1)">Tuesday</ion-checkbox>
			<ion-checkbox ng-model="modalDays[2].checked" ng-click="daysChanged(2)">Wednesday</ion-checkbox>
			<ion-checkbox ng-model="modalDays[3].checked" ng-click="daysChanged(3)">Thursday</ion-checkbox>
			<ion-checkbox ng-model="modalDays[4].checked" ng-click="daysChanged(4)">Friday</ion-checkbox>
			<ion-checkbox ng-model="modalDays[5].checked" ng-click="daysChanged(5)">Saturday</ion-checkbox>
			<ion-checkbox ng-model="modalDays[6].checked" ng-click="daysChanged(6)">Sunday</ion-checkbox>
		</ion-list>



	</ion-content>

	<ion-footer-bar align-title="left" class="bar-light">
		<button class="button footButton2 button-positive pull-right" ng-click="closeModal(2)">Ok</button>
	</ion-footer-bar>


</ion-modal-view>