<ion-modal-view class="modal transparent" id="dayModal" >
	<ion-header-bar>
		<div class="buttons">
			<h1 class="title">Days</h1>
			<button class="button button-icon ion-ios-close-empty" ng-click="closeModal(2)"></button>
		</div>
	</ion-header-bar>

	<ion-content id="modalHeaderD">

		<ion-list>
			<ion-checkbox ng-model="modalDays[0].checked">Monday</ion-checkbox>
			<ion-checkbox ng-model="modalDays[1].checked">Tuesday</ion-checkbox>
			<ion-checkbox ng-model="modalDays[2].checked">Wednesday</ion-checkbox>
			<ion-checkbox ng-model="modalDays[3].checked">Thursday</ion-checkbox>
			<ion-checkbox ng-model="modalDays[4].checked">Friday</ion-checkbox>
			<ion-checkbox ng-model="modalDays[5].checked">Saturday</ion-checkbox>
			<ion-checkbox ng-model="modalDays[6].checked">Sunday</ion-checkbox>
		</ion-list>



	</ion-content>

	<ion-footer-bar align-title="left" class="bar-light">
		<button class="button footButton2 button-positive pull-right" ng-click="closeModal(2)">Ok</button>
	</ion-footer-bar>


</ion-modal-view>