.activityBody {
	font-size: 12px;
	top: 154px;
}

#filterHeader {
	height: 70px;
	padding: 0px;
	top:44px;
}

#filterSubheader{
	height: 40px;
	padding: 0px;
	top:114px;
}

#filterRow {
	background-color: #054063;
}

#filterBar {
	margin-top: 2px;
}

.platform-ios .activityBody {
	top: 174px !important;
}

.platform-ios #filterHeader {
	top: 64px !important;
}

.platform-ios #filterSubheader {
	top: 134px !important;
}


#filterButton {
	margin-top: 2px;
	width:47px;
	height: 47px;
	font-size: 36px;
	color: white;
}



.rowHead {
	background-color: white;
	padding-left: 16px;
	padding-right: 16px;
}

#actLink {
	text-decoration: none;
	color: black;
}
.rowItem {
	border-left: none;
	border-right: none;
	font-size: 12px;
} 

.rowItem p {
	color: black;
	font-size: 12px;
} 

.modalHeader {
	border-bottom: solid 2px #D2D2D2;
}