/*
#962D6C = purple
#054063 = blue
*/
.activityBody {
	font-size: 12px;
	top: 154px;
}

#filterHeader {
	height: 70px;
	padding: 0px;
	top:44px;
}

#filterSubheader{
	height: 40px;
	padding: 0px;
	top:114px;
}

#filterRow {
	background-color: #962D6C;
}

#filterBar {
	margin-top: 2px;
}

.platform-ios .activityBody {
	top: 174px !important;
}

.platform-ios #filterHeader {
	top: 64px !important;
}

.platform-ios #filterSubheader {
	top: 134px !important;
}


#filterButton {
	margin-top: 2px;
	width:47px;
	height: 47px;
	font-size: 36px;
	color: white;
}


/* Fix modal backdrop for smaller devices */

@media (max-width: 679px) {

	#filterMainModal, #dayModal {

		min-height: initial
	}
	.active .modal-backdrop-bg {
		opacity: .5;
	}
	.modal-backdrop-bg {
		-webkit-transition: opacity 100ms ease-in-out;
		transition: opacity 100ms ease-in-out;
		background-color: #000;
		opacity: 0;
	}
}



.scale-in {
	-webkit-transform: scale(0.0);
  	transform: scale(0.0);
  	opacity: 0;
}
.scale-in.ng-enter,
.scale-in > .ng-enter {
	-webkit-transition: all cubic-bezier(.1, .7, .1, 1) 400ms;
 	transition: all cubic-bezier(.1, .7, .1, 1) 400ms;
}
.scale-in.ng-enter-active,
.scale-in > .ng-enter-active {
	-webkit-transform: scale(1);
 	transform: scale(1);
	opacity: 1;
}
.scale-in.ng-leave,
.scale-in > .ng-leave {
	-webkit-transition: all ease-in-out 250ms;
 	transition: all ease-in-out 250ms;
}



.rowHead {
	background-color: white;
	padding-left: 16px;
	padding-right: 16px;
}

#actLink {
	text-decoration: none;
	color: black;
}
.rowItem {
	border-left: none;
	border-right: none;
	font-size: 12px;
} 

.rowItem p {
	color: black;
	font-size: 12px;
} 

.modalHeader {
	border-bottom: solid 2px #D2D2D2;
}

div.spinner {
  text-align: center;
  top: 150 !important;
}

.spinner svg {
  width: 40 !important;
}


#overlay_center {
background-color: black;
opacity: 1;
position: fixed;
left:50%;
top:50%;
width: 100px;
height: 100px;
margin: -50px 0 0 -50px;
}