/* Styles that apply to the entire application*/

.bar {
	border: 0px;
	background-image: none !important;
}

/*Due to different rendering, set up custom rules for iOS devices*/


/*Make sure content starts below Navbar height*/
.has-header {
   top: 44px;
}

/*Sub header height is 43px, add this to main header height if content has a subheader*/
.has-subheader {
   top: 86px;
}

.odd {
  background-color: #f2f2f2;
}


#filterMainModal {
     width: 90%; 
     height: 70%; 
     top: 5%; 
     left: 5%; 
     right: 5%; 
}

#filterMainModal .bar-footer{
     height: 50px; 
}

#dayModal{
     width: 90%; 
     height: 50%; 
     top: 15%; 
     left: 5%; 
     right: 5%; 
}

#dayModal .bar-footer{
     height: 55px; 
}

.footButton1{
	height: 30px;
	margin-top: 5px;
	margin-left: 10px;
}

.footButton2 {
	width:60px;
	height: 30px;
	margin-top: 5px;
	margin-right: 10px;
}
.has-footer{
bottom: 55px;
}



.col-25 {
	white-space: normal;
}



#modalHeader, #modalHeaderD {
	top: 40px;
}

#modalHeader .item {
	border-color: white;
	
}

.dayLabel {

	margin-top: 10px;
	width:100%;
	height: 40px;
	border-bottom: 1px solid #F2F2F2;
	margin-left: 10px;
	color: #D2D2D2;
}

#dayHeader {
	border-bottom: 2px solid #E2E2E2;
}

#timeRow1, #timeRow2  {
	padding: 0px;
}

#timeRow1 {
	margin-top: 10px;
}

.infoItem {

	min-height: 60px;
	padding-left: 3px;
	white-space: normal;
}

.iconWriting {
	padding-left: 40px;
	
}

.iconWriting p {
color: black;
}

.special {
	color:red;
}

.iconI {
	left: -2px !important;
}

.dayList {
	margin-left:-10px !important;
}

.time_picker_box_text {
  height: 40px;
  text-align: center;
  border: 1px solid #dddddd;
  font-size: 16px;
  line-height: 38px;
}

.time_picker_arrows {
  width: 100%;
}

.supportCard {
	margin-top: 0px;
}

.toggle input:checked + .track {
    background-color: #054360 !important;
    border-color:#E5D390;
}

.popup-sub-title {
	font-size: 14px;
}

.popup-buttons .button {
	max-height: 40px;
}

.popup-body input {
	border: solid 1px #D2D2D2 !important;
	margin-bottom: 10px;
	min-height: 45px;

}